doctype 5
html
  head
    link(type='text/css', rel='stylesheet', href='http://twitter.github.io/bootstrap/assets/css/bootstrap.css')
  body
    .container
      h1 ATT.js Plugin Documentation
      .navbar
        .navbar-inner
          ul.nav
            - for (var plugin in spec)
              li
                a(href= "##{spec[plugin].plugin}")= spec[plugin].plugin
