h2 Contents
h3 Plugins
ul
  each plugin, pluginName in spec
    li
      a(href="plugins.html#plugin-" + pluginName)= pluginName
h3 Data Types
ul
  each dataType, typeName in datatypeIndex
    li
      a(href="datatypes.html#type-" + typeName)= typeName
h3 Events
ul
  each eventInfo, eventName in eventIndex
    li
      a(href="events.html#event-" + eventName)= eventName
