doctype 5
html
  head
    link(type='text/css', rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css')
    link(type='text/css', rel='stylesheet', href='styles.css')
  body
    .container
      .navbar.navbar-fixed
        .navbar-inner
          
          ul.nav
            li.logo
              a(href="index.html") ATT.js API Reference
            li
              a(href="plugins.html") Plugins
            li
              a(href="datatypes.html") Data Types
            li
              a(href="events.html") Event Index

      != body
